body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    background-color: blue;
}

div{
    margin: 10px auto;
    border: 5px solid aqua;
    width: 200px;
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

img{
    width: 100px;
}

nav{
    width: 500px;
}

ul{
    display: flex;
    justify-content: space-evenly;
}


footer{
    margin-top: 270px;
    background-color:black ;
}