html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    text-align: center;
}

p{
    font-size: 2rem;
}

header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

header img{
    width: 100px;
}

main{
    width: 100%;
    padding: 20px 0;
}

main img{
    width: 100%;
}


.container{
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
}

.contanier__image{
    min-width: 200px;
    max-width: 500px;
    margin: 23px auto;
}

.contanier__image--desktop{
    width: 100%;
    margin: 0 auto;
}

.contanier__image figcaption{
    font-size: 1.5rem;
    text-align: center;
}

section img{
    width: 50px;
    margin: 0 auto;
}

footer{
    padding: 20px;
    margin-top: 20px;
    background-color:black ;
    color: white;
    text-align: center;
}